<div class="row">
  <div class="large-12 columns">
    <div class="orbit-container">
      <ul class="example-orbit" data-orbit>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_1.jpg" alt="slide 1" />
          <div class="orbit-caption">
            Solving Water Right Challenges Facing Public and Private Entities and Individual Water Users
          </div>
        </li>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_2.jpg" alt="slide 2" />
          <div class="orbit-caption">
            Specializing in All Things Water Rights
          </div>
        </li>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_3.jpg" alt="slide 3" />
          <div class="orbit-caption">
            Navigating Clients Through the Administrative Process of the Division of Water Rights
          </div>
        </li>
        <li>
          <img src="http://water-rights.s3.amazonaws.com/services/home_4.jpg" alt="slide 4" />
          <div class="orbit-caption">
            Riley Water Consulting Helps Connect the Dots Between Water Right Buyers and Sellers
          </div>
        </li>
      </ul>
    </div>
    <hr />
  </div>
</div>
 <div class="row">
  <div class="large-7 columns">
    <h4>Riley Water Consulting, LC</h4>
    <p>Riley Water Consulting, LC (RWC) is a water right engineering and consulting firm in Utah. RWC provides specialization in change applications, updating title on water rights, water right research, conflict resolution, enforcement action, diligence claims, nonuse applications, declarations of beneficial use, applications to appropriate, proofs of beneficial use and much more.</p>
    <p>Riley Water Consulting has more than 37 years of experience in water rights and has provided clients with personal, honest, ethical, and cost effective service in a timely manner.</p>
    <p><%= link_to "Services →", services_path, class: "secondary small button" %></p>
  </div>
  
  <div class="large-5 columns">
  
    <!-- Gallery d with a block grid. Note: block grid items should be the same size for optimal results -->
    
    <ul class="small-block-grid-3">
      <li><%= link_to image_tag("https://dl.dropboxusercontent.com/u/38076607/blue%20box%20diligence.jpg"), diligence_claims_path %></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/grey%20box-proof.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/black%20box%20change.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/grey%20box%20title.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/black%20box%20extension.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/blue%20box%2040-yr%20plan.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/black%20box%20declarations.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/blue%20box%20apps.jpg" /></a></li>
      <li><a href="#"><img src="https://dl.dropboxusercontent.com/u/38076607/grey%20box-nonuse.jpg" /></a></li>
    </ul>
  </div> 
</div>
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>Want To Get A Hold Of Us?</p>
          </div>
          <div class="large-3 columns">
            <%= link_to "Contact Us", contact_path, class: "radius button right" %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
 
  <!-- Footer -->
  
  <!-- <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-8 columns">
          <p>Jim Riley Engineering, LC  | 175 South Main Street Suite 1330 Salt Lake City, UT 84111 | 801.355.1883</p>
        </div>
        <div class="large-4 columns">
          <ul class="inline-list right">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="#">Link 2</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer> -->