/ h3 Home
/ - @users.each do |user|
/   p
/     | User: #{link_to user.name, user}

.row
  .large-6.columns
    h6
      center Click an area on the map below to bring up listings and information on the policy, then choose "For Sale" or "Wanted"
    #map_canvas.listings
    h6
      center Don't see the area that you want to buy or sell water rights in? Give us a call and we'll put it up on the website
  #data.large-6.columns
    h3#listing_title Listings
    p#area_policy
    dl.tabs data-tab=""
      dd.active
        a href="#for_sale_container" For Sale
      dd
        a href="#wanted" Wanted
    .tabs-content
      #for_sale_container.content.active
        
        #for_sale
          .panel.radius
            p
              | Select an area on the map to get started!
      #wanted.content
        .panel.radius
          p
            | Select an area on the map to get started!
    