<!-- h1 Editing for_sale

== render 'form'

= link_to 'Show', @for_sale
'|
= link_to 'Back', for_sales_path -->


<div class="container">
  <h1 class="text-center">Editing For Sale</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @for_sale %> | <%= link_to 'Back', for_sales_path %>
</div>