<!-- h1 Editing area

== render 'form'

= link_to 'Show', @area
'|
= link_to 'Back', areas_path -->

<div class="container">
  <h1 class="text-center">Editing Area</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @area %> | <%= link_to 'Back', areas_path %>
</div>