@import "bootstrap";
// @import "foundation_and_overrides";
@import "static_pages";
@import "simple_pagination";
.button {
  $primary-color: #222D69;
  // @include button;
}
footer, a {color: #222D69;}

main {
  padding-top: 0;
}

.navbar {
  margin-bottom: 0;
}

h3 {
  font-size: 1.2em;
}

// .item {
//   background: rgba(0, 0, 0, 0.5);
//   z-index: 2;
// }

// footer {
//   color: red;
//   a {
//     color: red;
//   }
// }