
@import "foundation_and_overrides";
@import "static_pages";
@import "simple_pagination";
@import "dataTables/jquery.dataTables.foundation";
 .button-color {
  background:red;
}
.button-color:hover {
  background:#083906;
}
footer {
  color:red;
}