main {
  padding-top: 20px;
  padding-bottom: 50px;
  // background-color: #b3b3b3;
}

#map_canvas {
  height: 625px;
}

#data {
  padding-right: 0px;
  h3 {
    margin-top: 0px;
  }
}

.panel {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  h5 {
    margin-bottom: 5px;
  }
}

.footer-text {
  font-size: 14px;
  padding-top: 2px;
}

