main {
  padding-top: 20px;
  padding-bottom: 50px;
  // background-color: #b3b3b3;
}

#map_canvas {
  height: 625px;
}

#data {
  padding-right: 0px;
  h3 {
    margin-top: 0px;
  }
}

.panel {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  h5 {
    margin-bottom: 5px;
  }
}

.footer-text {
  font-size: 12px;
  padding-top: 2px;
}

.services-footer {
  // padding-right: 20px;
  font-size: 12px;
}

.services-pano {
  -moz-box-shadow: 5px 5px 25px #888;
  -webkit-box-shadow: 5px 5px 25px #888;
  box-shadow: 5px 5px 25px #888;
}

.red-box {   
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    background-color: #ae163e;
}

#area_policy {
  font-size: 12px;
}