<!-- h1 Editing wanted

== render 'form'

= link_to 'Show', @wanted
'|
= link_to 'Back', wanteds_path -->

<div class="container">
  <h1>Editing Wanted</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @wanted %> | <%= link_to 'Back', wanteds_path %>
</div>