footer
  .row
    .large-12.columns
      hr/
      .row
        .large-7.columns
          p.footer-text Riley Water Consulting | 175 South Main Street Suite 1330 Salt Lake City, UT 84111 | 801.355.1883
        .large-5.columns
          ul.inline-list.right.services-footer
            li= link_to "Home", root_path
            li= link_to "Services", services_path
            li= link_to "Projects", projects_path
            li= link_to "Profile", profile_path
            li= link_to "Contact", contact_path
            li= link_to "Buy/Sell", buy_sell_path
